<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Assembly" value="Test.Modelos"/>
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="D:\Trabajo\Ejercicios\Reflection\ReflectionExample\ReflectionExample\bin\Debug\net6.0\dll"/>
    </assemblyBinding>
  </runtime>
  
</configuration>